page-exptrack {
    .cardsize{
        height: 28vh;
        padding:0 10px 0 10px;
        border-radius: 10px;
    }
    
    .font{
        font-size: 28px;
        font-weight:bold;
        padding:30px 0 10px 0;
    }
    .card-background-page {
    
    ion-card {
        position: relative;
        text-align: center;
        height: 25vh;
        border-radius: 10PX;
        // box-shadow: 4px 4px 8px 0;
        background-color: #1863C8;
        
      }
    
      .card-title {
          padding:0px 10px 0 10px;
        position: absolute;
        top: 25%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #546E7A;
      }
    //   img{
    //       filter:blur(px);
    //   }
    }


    // $colors: (
    //     // ...
    //     yell:    #FFB900
      
    //   )

}
