page-illog {
    .item{
        border:1px solid #DFDFDF;
        border-radius: 5px;
    }
    #item{
        
             margin-bottom: 3px;
             // color: white;
          
             font-size: 13px;
         }
         .item img{
             width: 100%;
             height:200px;
         }

   
         
}
